*, html,body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1A2238;
    color: #eaeaea;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rtailor {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    transition: all .5s  ease 0s;
}
.rtailor:hover {
    color: #ff6a3d;
    transform: rotate(2deg);
}
nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

section {
    padding: 20px;
}

h2 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #ff6a3d;
  
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
}

/* Existing styles... */

nav {
    text-align: center; /* Center the buttons */
    margin: 20px 0; /* Add some margin */
}

.nav-button {
    background-color: transparent; /* Transparent background */
    color: #eaeaea; /* Text color */
    padding: 0px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    margin: 0 10px; /* Space between buttons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.nav-button:hover {
    color: #ff6a3d;
    transform: rotate(2deg);

}

/* Existing styles... */